.main-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    /*direction: rtl;*/
}
.menu-container {
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.menu-icon {
    height: 40px;
    width: 40px;
    transition: 300ms;
}
/*.menu-container:hover>.menu-icon {*/
/*    height: 35px;*/
/*    width: 35px;*/
/*    transition: 300ms;*/
/*}*/
.menu-container-show {
    height: 30px;
    width: 30px;
    transition: 300ms;
}
.menu-items-container {
    display: flex;
    margin: 0 5px;
}
.menu-list-items {
    height: 50px;
    width: 400px;
    background-color: #dddddd;
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 0 20px;
    font-family: "B Homa";
    font-size: 17px;
    cursor: pointer;
    visibility: visible;
    opacity: 1;

}
.menu-list-items:hover {
    height: 60px;
    width: 410px;
    background-color: #bbbbbb !important;
    transition: 300ms;
}
.menu-items-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    transition: all .15s ease;
}
.menu-container-hide {
    visibility: hidden;
    display: none;
    opacity: 0;
    transition: all .15s ease;
}
